[Unit]
Description=Ultraviolet

[Service]
ExecStart=/usr/bin/ultraviolet -pid-file="/run/ultraviolet.pid"
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/ultraviolet.pid

[Install]
WantedBy=multi-user.target
